[submodule "practices/projects/practices/projects/Computer-Graphics-Final-Project"]
	path = practices/projects/practices/projects/Computer-Graphics-Final-Project
	url = https://github.com/Saad711T/Computer-Graphics-Final-Project.git
